.new {
    padding: 80px 0 30px;
    background: #f2f2f2;
    overflow: hidden;
    &__block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: baseline;
        margin-top: 60px;
    }
    &__card {
        display: flex;
        max-width: 360px;
        width: 100%;
        margin-bottom: 42px;
        padding: 5px;
        &:hover {
            box-shadow: 0px 1px 12px 0px #a95b5b;
        }
    }
    &__text {
        margin-left: 23px;
    }
    &__paragraph {
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
    }
    &__category {
        width: 80px;
        height: 80px;
    }
}